.App {
  text-align: center;
}
.task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.task.completed i {
  color: green;
}
.task.completed h3 {
  text-decoration: line-through;
}
.btn {
  margin: 0 10px;
}
