.center_div {
  align-items: center;
  text-align: center;
}
ol li {
  list-style: none;
}
.todolist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
input {
  padding: 0.25rem;
}
.add {
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
}
